body {
	background-color: white;
}

.MainMenu {
	width: 100%;
	height: 650px;
	background: linear-gradient(90deg, #a1afe3, #3d60db);
	margin: 0px;
}

#name {
	font-size: 25px;
	font-family: "Cinzel", sans-serif;
	position: relative;
	top: 70px;
	left: 150px;
}

#search {
	position: relative;
	top: 35px;
	left: 870px;
	height: 30px;
	width: 350px;
	font-size: 16px;
}

#searchbtn {
	position: relative;
	top: 36px;
	left: 865px;
	height: 36px;
	width: 36px;
	font-size: 15px;
}

.Arrows1 {
	position: relative;
	top: 20px;
	left: 1020px;
}

#left1 {
	height: 40px;
	width: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 25px;
	color: black;
	background-color: #039dfc;
}

#right1 {
	height: 40px;
	width: 40px;
	text-align: center;
	border-radius: 20px;
	font-size: 25px;
	color: black;
	background-color: #039dfc;
}

#left1:hover {
	color: #039dfc;
	background-color: black;
}

#right1:hover {
	color: #039dfc;
	background-color: black;
}

#furnit {
	width: 700px;
	height: 400px;
	position: relative;
	top: -410px;
	left: 670px;
}

.Advert {
	height: 450px;
	width: 350px;
	position: relative;
	top: -10px;
	left: 30px;
	background-color: white;
	font-size: 22px;
	font-family: "Cinzel", sans-serif;
}

#ad {
	position: relative;
	top: 30px;
	left: 20px;
}

#text {
	font-size: 22px;
	color: grey;
	position: relative;
	top: 30px;
	margin: 20px;
}

#truckbtn {
	height: 50px;
	width: 200px;
	background-color: #03a3ff;
	position: relative;
	top: 50px;
	left: 80px;
	font-size: 22px;
	font-family: "Cinzel", sans-serif;
}

a {
	text-decoration: none;
}

.Advantages {
	display: flex;
	height: 150px;
	width: 100%;
	justify-content: space-around;
	position: relative;
	top: 40px;
	padding-left: 60px;
	font-family: "Cinzel", sans-serif;
}

.Quality {
	display: flex;
	width: 20%;
	height: 100%;
}

.Check {
	display: flex;
	width: 20%;
	height: 100%;
}

.Delivery {
	display: flex;
	width: 20%;
	height: 100%;
}

.Support {
	display: flex;
	width: 20%;
	height: 100%;
}

#img {
	height: 30px;
	width: 30px;
	margin-right: 15px;
}

#imgd {
	height: 35px;
	width: 35px;
	margin-right: 15px;
}

.Products {
	width: 90%;
	height: 1070px;
	background-color: grey;
	position: relative;
	top: -20px;
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 350px);
    grid-gap: 10px;
    padding: 10px;
}

#prod {
	position: relative;
	top: -40px;
	text-align: center;
	font-family: "Cinzel", sans-serif;
}

.Item {
	background-color: #b0b0b0;
}

.one {
	grid-column: 1/1;
	grid-row: 1/1;
}

.two {
	grid-column: 2/2;
	grid-row: 1/1;
}

.three {
	grid-column: 3/3;
	grid-row: 1/1;
}

.four {
	grid-column: 4/4;
	grid-row: 1/1;
}

.five {
	grid-column: 1/1;
	grid-row: 2/2;
}

.six {
	grid-column: 2/2;
	grid-row: 2/2;
}

.seven {
	grid-column: 3/3;
	grid-row: 2/2;
}

.eight {
	grid-column: 4/4;
	grid-row: 2/2;
}

.nine {
	grid-column: 1/1;
	grid-row: 3/3;
}

.ten {
	grid-column: 2/2;
	grid-row: 3/3;
}

.eleven {
	grid-column: 3/3;
	grid-row: 3/3;
}

.twelve {
	grid-column: 4/4;
	grid-row: 3/3;
}

.ImageItem {
	width: 100%;
	height: 200px;
}